<div>
  <h2>Deck</h2>
  <div *ngFor="let card of gameService.deck">
    {{card.value}} of {{card.suit}}
  </div>
</div>

<div>
  <h2>Stacks</h2>
  <div *ngFor="let stack of gameService.stacks; index as i">
    <h3>Stack {{i + 1}}</h3>
    <div *ngFor="let card of stack">
      {{card.value}} of {{card.suit}}
    </div>
  </div>
</div>

<div>
  <h2>Foundation</h2>
  <div *ngFor="let foundation of gameService.foundation; index as i">
    <h3>Foundation {{i + 1}}</h3>
    <div *ngFor="let card of foundation">
      {{card.value}} of {{card.suit}}
    </div>
  </div>
</div>
